@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #080710;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  border-bottom: solid thin #4c566a;
  backdrop-filter: blur(50px);
} 

main {
  margin-top: 100px; /* add some margin to the top of the main content */
  color: white;
}

td {
  color: black;
  /*padding-right: 1.2rem;*/
}

#FinTrack {
  color: white;
  font-size: 1.6rem;
  /*padding-left: 0.8rem;*/
}

#td-grow {
  width: 100vw;
}

.img-container {
  display: flex;
  justify-content: center;
}

.handy-img {
  width: 250px;
  height: auto;
  margin: 1rem;
}

h1 {
  margin: 1rem;
}

h2 {
  margin: 1rem;
}
#reviews {
  margin-top: 50px;
  margin-bottom: 50px;
}
.reviewblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewbox {
  font-size: 0.9rem;
  margin: 10px;
  background:linear-gradient(to top,rgba(174, 242, 192, 0.13), rgba(35, 40, 37, 0.423), rgba(21, 21, 21, 0.815), rgba(7, 7, 7));
  border-radius: 20px;
  border: solid rgba(197, 244, 209, 0.195);
  padding: 20px;
  max-width: 400px;
}
.reviewbox:hover {
  box-shadow: 0px 0px 9px   #6bff90a7;
}
.five_star {
  width: 100px;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}


/* --- Login Button --- */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* --- Animations --- */
span::before {
  content: "Track Spending Easily: Monitor your expenses in real-time for better budgeting.";
  animation: animate infinite 40s;
  display: block;
}

@keyframes animate {
  0% {
    content: "Track Spending Easily: Monitor your expenses in real-time for better budgeting.";
  }

  10% {
    content: "Set Financial Goals: Define and reach savings goals with personalized milestones.";
  }

  20% {
    content: "Insightful Analytics: Get insights into spending patterns with simple charts.";
  }

  30% {
    content: "Daily Tips for Saving: Receive actionable tips for smarter financial decisions every day.";
  }

  40% {
    content: "Visualize Your Progress: Watch your financial health improve with intuitive visuals.";
  }

  50% {
    content: "Secure and Private: Bank-level security ensures your data is safe.";
  }

  60% {
    content: "Budget Alerts: Get notifications to stay within budget effortlessly.";
  }

  70% {
    content: "Gamified Achievements: Reach milestones and earn badges for financial progress.";
  }

  80% {
    content: "Income and Expense Overview: Track all your income and expenses in one place.";
  }

  90% {
    content: "Plan Future Expenses: Set aside funds for future needs with planned budgeting.";
  }

  100% {
    content: "Personalized Financial Advice: Receive tailored recommendations based on your spending habits and goals.";
  }
}
@media only screen and (min-width: 1000px) {
  .desktop-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .head-text {
    text-align: left;
    max-width: 400px;
  }
  .handy-img {
    min-width: 350px;
  }
  .reviewblock {
    flex-direction: row;
    justify-content: center;
  }
}