@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #080710;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

.content { flex: 1; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  border-bottom: solid thin #4c566a;
  backdrop-filter: blur(50px);
  z-index: 10;
} 

main {
  margin-top: 100px;
  color: white;
}

td { color: black; }

#td-grow { width: 100vw; }

.img-container {
  display: flex;
  justify-content: center;
}

#FinTrack-logo {
  margin-top: -10px;
  width: 900px;
  height: auto;
  padding-left: 40px;
  padding-top: 40px;
}

@media (max-width: 600px) {
  #FinTrack-logo {
    margin-top: -20px;
    width: 360px;
    height: auto;
    padding-left: 10px;
    padding-top: 40px;
  }
}

#handy-img {
  width: 320px;
  height: auto;
  margin: 1rem;
  margin-top: 0;
}

#qr-img {
  max-width: 0px;
  margin: 0rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.6rem;
  }
}

h2 { margin: 1rem; }

h3 { margin-bottom: 0.75rem; }

/* --- USECASES --- */
#usecases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.usecase-boxes {
  margin: 10px;
  font-size: 0.9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  border: solid thin #3b4252;
  padding: 20px;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.usecase-boxes:hover {box-shadow: 0px 0px 9px #fff85b;}

#strich-icon {
  margin: 0;
  padding: 0;
  height: 50px;
  opacity: 100%;
}

/* --- REVIEWS --- */
#trusted-by { margin-top: 30px; }

#reviews {
  margin-top: 10px;
  margin-bottom: 50px;
}

.reviewblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewbox {
  font-size: 0.9rem;
  margin: 10px;
  background:linear-gradient(to top,rgba(174, 242, 192, 0.13), rgba(35, 40, 37, 0.423), rgba(21, 21, 21, 0.815), rgba(7, 7, 7));
  border-radius: 20px;
  border: solid rgba(197, 244, 209, 0.195);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reviewbox:hover {box-shadow: 0px 0px 9px #a3be8c;}

.five_star {
  width: 100px;
  padding-top: 10px;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

/* --- Login Button --- */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* --- Animations --- */
.changing-text {
  font-size: 2rem;
  margin-bottom: 60px;
}

@keyframes fadeAnimation {
  0%, 10% {
    content: "Track Spending Easily.";
    opacity: 1;
  }
  8%, 12% {
    opacity: 0;
  }
  10%, 20% {
    content: "Set Financial Goals.";
    opacity: 1;
  }
  18%, 22% {
    opacity: 0;
  }
  20%, 30% {
    content: "Insightful Analytics.";
    opacity: 1;
  }
  28%, 32% {
    opacity: 0;
  }
  30%, 40% {
    content: "Daily Tips for Saving.";
    opacity: 1;
  }
  38%, 42% {
    opacity: 0;
  }
  40%, 50% {
    content: "Visualize Your Progress.";
    opacity: 1;
  }
  48%, 52% {
    opacity: 0;
  }
  50%, 60% {
    content: "Secure and Private.";
    opacity: 1;
  }
  58%, 62% {
    opacity: 0;
  }
  60%, 70% {
    content: "Budget Alerts.";
    opacity: 1;
  }
  68%, 72% {
    opacity: 0;
  }
  70%, 80% {
    content: "Gamified Achievements.";
    opacity: 1;
  }
  78%, 82% {
    opacity: 0;
  }
  80%, 90% {
    content: "Income and Expense Overview.";
    opacity: 1;
  }
  88%, 92% {
    opacity: 0;
  }
  90%, 100% {
    content: "Personalized Financial Advice.";
    opacity: 1;
  }

  98%, 100% {
    opacity: 0;
  }

  98%, 2% {
    opacity: 0;
  }

  100% {
    content: "Track Spending Easily.";
    opacity: 1;
  }

}

span::before {
  content: "Track Spending Easily: Monitor your expenses in real-time for better budgeting.";
  animation: fadeAnimation infinite 90s ease-in-out;
  padding-left: 16px;
}

@media only screen and (min-width: 1000px) {
  .qr-logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .head-text {
    text-align: left;
    max-width: 400px;
  }

  #FinTrack-logo { margin-bottom: -20px; }

  .handy-img {
    min-width: 500px;
    margin: 0rem;
  }

  #qr-img {
    max-width: 200px;
    margin: 0rem;
    border-radius: 10px;
  }
  
  .reviewblock {
    flex-direction: row;
    justify-content: center;
  }

  .reviewbox { min-height: 230px; }
}